{% extends "website/base.html" %}
{% load staticfiles %}


{% block container %}
	<div class="blogPlate">
		<div class="blogEntry">

            {% include "website/entryPiece.html" %}
        </div>
		<div class="blogInfo">
			<div><!-- THIS IS AUTHOR PAGE AND ARCHIVE - BASICALLY IT*S A SIDEBAR -->
				<br><br><br><br>
				<br><br><br><br>
				<br><br><br><br>
				<br><br><br><br>
				<br><br><br><br>
			</div>
			<div>
				<br><br><br><br>
				<br><br><br><br>
				<br><br><br><br>
				<br><br><br><br>
				<br><br><br><br>
				<br><br><br><br>
				<br><br><br><br>
				<br><br><br><br>
			</div>
		</div>
	</div>
{% endblock %}