
{% block header %}
{% load staticfiles %}


	<div class="header">
		<a href="{% url 'website:index' %}">
		    <div class="logo">
		        <img src="{% static logoPath %}">
		    </div>
	   </a>
	    <nav id="menu">
		    <ul>

			    {% for item in menu %}
			        <li>
			        	<a href="{% url item.page.url %}"> {{ item.page.title }} </a>
		        	</li>
			    {% endfor %}
			</ul>	    
	    </nav>

	    <div id="hamburger">
	        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
	          <path d="M2 6h20v3H2zm0 5h20v3H2zm0 5h20v3H2z"></path>
	        </svg>
      	</div>


	</div>



{% endblock %}

