
{% extends "website/base.html" %}
{% load staticfiles %}


{% block container %}
	<div class="plate generalPlate">
		<div class="entry">
			<div style="width:100%;">
				<h1 id="projectH1">Projects</h1>
			</div>
		    {% for project in projects %}
		    	{% if forloop.first %}
			    	<div class="projectThumb" id="first" onclick="window.location='/projects/{{ project.page.id }}/';">
		    	{% elif forloop.last %}
			    	<div class="projectThumb" id="last" onclick="window.location='/projects/{{ project.page.id }}/';">
			    {% else %}
			    	<div class="projectThumb" id="middle" onclick="window.location='/projects/{{ project.page.id }}/';">
			    {% endif %}
			    		<img src="{% static project.imgUrl %}">
						<div class ="projectIngress">
							<h1>
								{{ project.title }}
							</h1>
						</div>
			    	</div>
		    {% endfor %}
		</div>
	</div>
{% endblock %}
