
{% extends "website/base.html" %}
{% load staticfiles %}


{% block container %}
	<div class="plate generalPlate">
	    {% for entry in entries %}
		    	<div class="blogEntryPiece">

		    		<div class="entryImg">
		    			<img src="{% static entry.imgUrl %}">
		    		</div>
					<div class ="entryHeadline">
						<h1>
							{{ entry.headline }}
						</h1>
					</div>

					<div class="entryText">
							{{ entry.body_text|safe}}
					</div>

		    	</div>
	    {% endfor %}
	</div>
{% endblock %}
