
body{
    margin:0px;
    padding: 0px;
    background: white url("images/background.png");
}

.header{
    position: relative;
    top:0px;
    left: 0px;
    width:100%;
    background-color: black;
    height: 120px;
}

.logo{
    overflow: visible;
    height:100%;
}

.logo img{
    height:80px;
    width:auto;
    margin-top:20px;
    margin-left:20px;
}


.menu{
    text-align: right;
    position: absolute;
    bottom:10px;
    right: 50px;
}

.menu li{
    text-decoration: none;
    float:left;
    margin:15px;
}

.menu a{
    color:white;
    text-decoration: none;
    font-size: 1.5em;
}


.container{
    width:100%;
    margin-left:auto;
    margin-right:auto;
    display: flex;
    flex-wrap: wrap;
}


.projectThumb{
    position:relative;
    top:0px;
    left:0px;
    width:100%;
    height:300px;
    overflow:hidden;
}

.projectThumb img{
    position: absolute;
    top: 0px;
    left: 0px;
    height:100%;
}


.projectIngress{
    background-color: rgba(0,5,5,0.65);
    position:absolute;
    left:0px;
    bottom:0px;
    padding-left: 20px;
    padding-right: 20px;
    z-index: 100;
    text-align: center;
    height: 50%;
    color:white;
}

.footer{
    background-color: black;
    height:100px;
    width:100%;
    color:white;
}

.footer div{
    max-width: 300px;
    position: relative;
    top:45%;
    text-align: center;
    margin:auto;
}

@media screen and (min-width: 426px){
    .projectThumb{
        width:50%;
    }
    .logo img{
        margin-left:40px;
    }
}

@media screen and (min-width: 769px){
    .projectThumb{
        width: 33.333%;
    }

    .projectIngress{
        position: relative;
        top:0px;
        height: 100%;
        padding-top: 300px;
        animation-name: moveTextDown;
        animation-duration: .15s;
        padding-top:300px;
        background-color: rgba(0,5,5,0.0);
    }


    .projectIngress h1{
        margin-top:0px;
        padding-top: 0px;
    }
    
    .projectIngress:hover{
        cursor:pointer;
        top:0px;
        animation-name: moveText;
        animation-duration: 0.55s;
        padding-top:120px;
        background-color: rgba(0,5,5,0.65);
    }


    .projectThumb:hover img{
        animation-name:zoomImg;
        animation-duration: 0.55s;
        top: -10px;
        left: -10px;
        height:110%;
    }

    .projectThumb img{
        animation-name: zoomOutImg;
        animation-duration: .55s;
        top: 0px;
        left: 0px;
        height:100%;
    }
}


@media screen and (min-width: 1920px){
    .container{
        width: 1920px;
    }
}



/*
*
*       ANIMATIONS
*
*/


@keyframes moveText {
    from {padding-top:300px;
    background-color: rgba(0,5,5,0.0);}
    to {padding-top:120px;
    background-color: rgba(0,5,5,0.65);}
}
@keyframes moveTextDown {
    from {padding-top:150px;
    background-color: rgba(0,5,5,0.65);}
    to {padding-top:300px;
    background-color: rgba(0,5,5,0.0);}
}
@keyframes zoomImg{
    from{   
        top: 0px;
        left: 0px;
        height:100%;
    }to{    
        top: -10px;
        left: -10px;
        height:110%;
    }
}

@keyframes zoomOutImg{
    from{    
        top: -10px;
        left: -10px;
        height:110%;
    }to{   
        top: 0px;
        left: 0px;
        height:100%;
    }
}

